/* Common */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetical', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #282828;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.holder {
  max-width: 1024px;
  margin: 0 auto;
}

.clearfix {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
/* END: Common */
