/* Header */
.header {
  background-color: #575b5f;
}
.header .holder {
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.logo {
  padding: 9px 0;
}
.logo__img {
}
.menu {
  justify-content: space-between;
}
.menu-list {
  display: flex;
}
.menu-list-item {
}
.menu-list-item:hover {
  background-color: #999999;
}
.menu-list-item::after {
  content: '';
  display: inline-block;
  width: 11px;
  border: 0.84px solid #fff;
  margin: 0 20px;
  vertical-align: middle;
}
.menu-list-item a {
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
}
.menu-social {
  display: flex;
}
.menu-social:hover {
  background-color: #999999;
}
.menu-social-item {
  margin-right: 30px;
}
.menu-social-item:last-child {
  margin-right: 0;
}
.menu-social-item a {
}
.menu-social-item a i {
  color: #fff;
  font-size: 16px;
}
.menu-bar {
  display: none;
}
.menu-bar i {
  font-size: 20px;
  color: #dce3e4;
}
/* END: Header */

/* Slider */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  position: relative;
}

.swiper-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  object-fit: contain;
}

.slider {
  color: #fff;
}
.slider .swiper-container {
}
.slider .swiper-container .swiper-wrapper {
}
.slider .swiper-container .swiper-wrapper .swiper-slide {
  padding-top: 130px;
}
.slider-ttl {
  font-size: 85px;
  font-family: 'Lobster Two', cursive;
}
.slider-divide {
  letter-spacing: 26px;
  margin: 55px 0 45px;
  font-size: 16px;
}
.slider-desc {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
}
.slider__link {
}
.btn-view-more {
  background-color: #2b2239;
  margin-top: 60px;
  margin-bottom: 130px;
  padding: 10px 40px 13px 40px;
  display: inline-block;
  border-radius: 6px;
}

.text-more {
  color: #fff;
  font-size: 15px;
  display: inline-block;
}
/* END: Slider */

/* About Us */
.about-us {
  min-height: 240px;
  background-color: #fff;
  position: relative;
}

.about-us-wrap {
  display: flex;
  position: absolute;
  top: -23.3%;
  bottom: -23.3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
}

.about-us-image {
  width: 50%;
  min-width: 320px;
}
.about-us-image img {
  min-width: 150px;
  min-height: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-content {
  width: 50%;
  padding: 6%;
  min-width: 320px;
}
.about-us-content__ttl {
  font-size: 35px;
  color: #28374b;
  font-family: 'Lobster Two', cursive;
}
.about-us-content__divide {
  margin: 10px 0px 20px 0px;
  font-size: 25px;
  color: #9fb0a5;
  letter-spacing: 10px;
}
.about-us-content__desc {
  font-size: 15px;
  color: #a0b1a6;
  height: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.about-us-content__link {
  font-size: 15px;
  color: #fff;
  padding: 6px 30px;
  background-color: #27364a;
  margin-top: 40px;
  display: inline-block;
  border-radius: 4px;
}
.btn-more {
}
/* END: About us */

/* Feedback */
.feedback {
  padding: 130px 0 80px;
  text-align: center;
}
.feedback-message {
  font-size: 20px;
  color: #fff;
}
.feedback-author {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  font-family: 'Lobster Two', cursive;
}
/* END: Feedback */

/* Menu */
.menu-block {
  align-items: center;
  background-color: #fff;
}
.menu-ttl {
  padding: 60px 0px;
  color: #28374b;
  font-size: 35px;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.menu-content {
  width: 100%;
  background-color: #cccccc;
}

.menu-content-list {
  width: 100%;
}

.menu-content-list-item {
  width: 25%;
  padding: 35px 0px;
  text-align: center;
}
.menu-content-list-item2 {
  background-color: #9fb0a5;
  position: relative;
  z-index: 1;
}

.meal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.menu-content-list-item__name {
  color: #fff;
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
}

.menu-content-list-item__desc {
  width: 60%;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
  line-height: 25px;
  padding: 10px 0;
}

.menu-content-list-item__price {
  color: #fff;
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
}

.menu-show-more {
  padding: 35px 0px;
  text-align: center;
}

.menu-show-more__link {
  color: #28374b;
  font-size: 35px;
  font-family: 'Lobster Two', cursive;
  display: block;
}

.btn-show-menu {
  width: 30px;
  height: 30px;
  background-color: #27364a;
  outline: 0px;
  border: 0px;
  border-radius: 15px;
  margin-top: 10px;
  position: relative;
}
.icon-down {
  color: #fff;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* END: Menu */

/* Video */
.video {
  background-image: url('../image/bg_5.jpg');
  background-size: cover;
  position: relative;
  background-position: center;
}
.video-overlay {
  position: absolute;
  background-color: rgba(86, 86, 87, 0.65);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-content {
  padding: 150px 0px;
  text-align: center;
}
.video-content--ttl {
  font-size: 20px;
  color: #fff;
  word-spacing: 10px;
}
.video-content-button {
}
.btn-play-video {
  margin: 0 auto;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  position: relative;
}
.icon-play-video {
  color: #565657;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
/* END: Video */

/* Subscribe */
.subscribe {
  background-color: #fff;
  text-align: center;
  padding: 60px 0 50px 0;
}
.subscribe__ttl {
  font-size: 35px;
  color: #28374b;
  font-family: 'Lobster Two', cursive;
}
.subscribe__desc {
  font-size: 15px;
  line-height: 23px;
  padding: 20px 0px 30px;
}
.subscribe-form {
  overflow: hidden;
  display: inline-flex;
  height: 50px;
}
.subscribe-form__input {
  font-size: 15px;
  color: #28374b;
  padding: 8px 20px;
  height: 100%;
  min-width: 380px;
  border: 1px solid;
}
.subscribe-form__button {
}
.btn-subscribe {
  font-size: 15px;
  color: #fff;
  background-color: #151d25;
  outline: 0;
  padding: 8px 30px;
  border: 0;
}
/* END: Subscribe */

/* Offer-list */
.offer-list {
  background-color: #fff;
}
.offer-list .holder {
  display: flex;
  flex-wrap: wrap;
}
.offer-list-item {
  width: 33.33%;
  height: 300px;
  background-color: #cccccc;
  position: relative;
}
.offer-list-item:nth-child(even) {
  background-color: #999999;
}
.offer-meal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* END: Offer-list */

/* Footer */
.footer {
}
.footer-top {
  background-color: #27364a;
  padding: 25px 10px 35px;
}
.footer-top .holder {
  display: flex;
}

.footer-top-location {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.footer-top-ttl {
  width: 100%;
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
}

.footer-top-location-block {
  width: 35%;
}
.footer-top-location-block__address {
  color: #fff;
  line-height: 18px;
  font-size: 13px;
}
.footer-top-time {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.footer-top-time-block {
  width: 50%;
}
.footer-top-time-block__day {
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}
.footer-top-time-block__open {
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}
.footer-bottom {
  background-color: #151d25;
  display: flex;
  padding: 6px 10px;
}

.footer-bottom .holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer-bottom__copyright {
  color: #fff;
  font-size: 10px;
}
.footer-bottom-list {
  display: flex;
}
.footer-bottom-list-item {
  margin-right: 40px;
}
.footer-bottom-list-item:last-child {
  margin-right: 0;
}
.footer-bottom-list-item a {
}
.footer-bottom-list-item a i {
  color: #fff;
  font-size: 16px;
}
/* END: Footer */

/* Reponsive mobile */

@media only screen and (max-width: 1200px) {
  .menu-content-list-item {
    display: none;
    width: 50%;
  }
  .menu-content-list-item2 {
    display: block;
    border: 3px solid #fff;
  }
}
@media only screen and (max-width: 1000px) {
  .slider .swiper-container .swiper-wrapper .swiper-slide {
    padding-top: 40px;
  }
  .slider-ttl {
    font-size: 60px;
  }
  .slider-divide {
    margin: 30px 0;
  }
  .slider-desc {
    font-size: 16px;
  }
  .btn-view-more {
    margin-top: 30px;
  }
  .feedback {
    padding: 100px 0 40px;
  }
}
@media only screen and (max-width: 800px) {
  .menu-bar {
    display: block;
    margin-right: 30px;
  }
  .menu {
    display: none;
    position: absolute;
    right: 5px;
    top: 53px;
    z-index: 10;
    background-color: #575b5f;
    padding: 12px 10px;
  }
  .menu-list {
    display: block;
  }
  .menu-list-item {
    padding: 4px 20px 4px 10px;
    border-bottom: 1px solid #ececec;
  }
  .menu-list-item::after {
    border: none;
  }
  .menu-social {
    padding: 8px 20px 1px 20px;
  }
}
@media only screen and (max-width: 670px) {
  .slider .swiper-container .swiper-wrapper .swiper-slide {
    padding-top: 20px;
  }
  .slider-ttl {
    font-size: 60px;
  }
  .slider-divide {
    margin: 30px 0;
  }
  .slider-desc {
    font-size: 16px;
  }
  .btn-view-more {
    margin-top: 30px;
  }
  .about-us {
    min-height: 200px;
  }
  .about-us-image {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .slider .swiper-container .swiper-wrapper .swiper-slide {
    padding-top: 20px;
  }
  .slider-ttl {
    font-size: 30px;
  }
  .slider-divide {
    margin: 5px 0;
  }
  .slider-desc {
    font-size: 13px;
  }
  .btn-view-more {
    margin-top: 15px;
    margin-bottom: 59px;
    padding: 7px 25px;
  }
  .text-more {
    font-size: 10px;
  }

  .subscribe-form {
    overflow: unset;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .offer-list-item {
    width: 50%;
    height: 200px;
  }
}
@media only screen and (max-width: 530px) {
  .btn-subscribe {
    margin-top: 10px;
  }
  .footer-top-location-block {
    width: 100%;
  }
  .footer-top-time-block {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .menu-content-list-item {
    width: 100%;
  }
  .video-content {
    padding: 100px 0;
  }
  .offer-list-item {
    width: 100%;
    height: 150px;
  }
}
@media only screen and (max-width: 400px) {
  .about-us-content {
    min-width: 270px;
  }
  .subscribe-form__input {
    min-width: 100%;
  }
  .footer-bottom .holder {
    justify-content: center;
  }

  .footer-bottom__copyright {
    display: none;
  }
}
