/* font-family: 'Lato', sans-serif; */
.banner {
  background: rgb(245, 125, 112);
  background: linear-gradient(
    0deg,
    rgba(245, 125, 112, 0.958420868347339) 34%,
    rgba(217, 6, 71, 0.9023984593837535) 100%
  );
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px 30px 60px;
}
.logo {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}
.menu {
}
.menu-item {
  margin-right: 40px;
}
.menu-item:hover {
  text-decoration: line-through;
}
.menu-item:last-child {
  margin-right: 0px;
}
.menu-link {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}
.menu-link-active {
  text-decoration: line-through;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 20px;
  color: #dce3e4;
}
.menu-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 2;
}

.safe {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.safe-content {
  width: 50%;
  text-align: center;
  padding: 150px 0px;
  z-index: 1;
}
.safe-ttl {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 72px;
  width: 55%;
  margin: 0 auto;
}
.safe-desc {
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 30px 0px 95px 0px;
  font-size: 24px;
}
.safe-bold {
  font-weight: 700;
  font-size: 24px;
}
.safe-download {
  font-family: 'Lato', sans-serif;
  color: #fff;
  align-self: self-end;
  padding: 20px 50px;
  border-radius: 50px;
  border: 1px solid rgba(235, 63, 45, 0.4);
  background-color: #fff;
  color: rgba(235, 63, 45, 0.4);
  font-weight: 700;
  z-index: 1;
}
.safe-example {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.safe-bottom {
  clip-path: polygon(0 89%, 100% 63%, 100% 100%, 0% 100%);
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.safe-example-img {
  max-width: 390px;
  max-height: 770px;
  z-index: 1;
  object-fit: contain;
}

.block {
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
}
.block-content {
  width: 50%;
  padding: 0px 20px;
  margin-bottom: 300px;
  padding-left: 8%;
}
.block-content-2 {
  padding-left: 20px;
}
.block-ttl {
  font-size: 60px;
  font-weight: 700;
  margin: 220px 0px 30px 0px;
}
.block-desc {
  font-size: 18px;
  color: #808080;
}
.block-example {
  width: 50%;
  position: relative;
}
.block-example-img {
  max-width: 390px;
  max-height: 770px;
  object-fit: contain;
  position: absolute;
}

.block-example-img-1 {
  left: 0;
}
.block-example-img-2 {
  left: 35%;
  top: 14%;
}
.block-example-img-3 {
  right: 0;
}
.block-example-img-4 {
  right: 35%;
  top: 12%;
}

.people-say {
  border-top: 1px solid #e0e0e0;
  text-align: center;
}
.say-ttl {
  font-size: 60px;
  color: #363636;
  font-weight: 700;
  margin: 90px 0 110px 0;
}
.red-dot {
  color: #e1203b;
  font-size: 60px;
}
.list-comment {
  display: flex;
  flex-wrap: wrap;
}
.item-comment {
  padding: 0px 20px;
  width: 33.33%;
}

.item-content {
  padding: 15px 20px;
  border: 1px solid #ececec;
  border-radius: 5px;
  position: relative;
}
.item-content::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  transform: rotate(-45deg);
  left: 20px;
  bottom: -8px;
}
.item-comment-active .item-content {
  -webkit-box-shadow: 0px 2px 24px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 24px -2px rgba(0, 0, 0, 0.1);
  top: -30px;
}
.say-comment {
  text-align: left;
  height: 183px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #808080;
  font-size: 15px;
}
.say-website {
  font-size: 17px;
  text-align: left;
  color: #de1540;
  margin-top: 16px;
}
.author {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 16px;
}
.author-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-name {
  flex: 1;
  font-size: 17px;
  color: #363636;
}
.author-position {
  text-align: left;
  color: #808080;
  margin-top: 4px;
  font-size: 13px;
}

.function {
  background: rgb(245, 125, 112);
  background: linear-gradient(
    0deg,
    rgba(245, 125, 112, 0.958420868347339) 34%,
    rgba(217, 6, 71, 0.9023984593837535) 100%
  );
  margin: 240px 0;
  padding: 105px 0;
  position: relative;
}
.function .holder {
  display: flex;
  flex-wrap: wrap;
}
.function-left {
  width: 35%;
}
.function-item {
  display: flex;
}
.function-item:last-child {
  margin-top: 100px;
}
.function-content {
  flex: 1;
  margin-left: 25px;
}
.function-content-right {
  margin-left: 0;
  margin-right: 25px;
  text-align: right;
}
.function-content-right .function-desc {
  text-align: right;
}
.function-ttl {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}
.function-desc {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  text-align: left;
  height: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.function-icon {
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.function-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.function-center {
  width: 30%;
  display: flex;
  justify-content: center;
}
.mobile {
  position: absolute;
  top: -19%;
}
.mobile-img {
  max-width: 390px;
  max-height: 770px;
  width: 100%;
}
.mobile-overlay {
  position: absolute;
  top: 12.5%;
  bottom: 12%;
  left: 7%;
  right: 7%;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-play {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-play {
  font-size: 23px;
  color: #551f25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.function-right {
  width: 35%;
}

.subscribe {
  text-align: center;
  padding: 0 10px;
}
.subscribe-ttl {
  font-size: 60px;
  color: #363636;
}
.subscribe-desc {
  font-size: 18px;
  color: #808080;
  margin: 40px 0 60px 0;
}
.subscribe-form {
  margin-bottom: 120px;
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
}
.subscribe-input {
  background-color: #eae6e6;
  padding: 15px 20px;
  border: 0;
  outline: 0;
  min-width: 570px;
  padding-right: 170px;
  font-size: 17px;
  color: #808080;
  border-radius: 40px;
  overflow: hidden;
}
.subscribe-input::placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.subscribe-btn {
  background: rgb(245, 125, 112);
  background: linear-gradient(
    0deg,
    rgba(245, 125, 112, 0.958420868347339) 34%,
    rgba(217, 6, 71, 0.9023984593837535) 100%
  );
  border: 0;
  outline: 0;
  padding: 15px 45px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.download {
  border-top: 1px solid #e0e0e0;
}
.download .holder {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 0 10px;
}
.download-icon {
}
.download-img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}
.download-ttl {
  margin: 40px 0;
  font-size: 60px;
  color: #363636;
  font-weight: 700;
}
.download-desc {
  font-size: 18px;
  color: #808080;
}
.download-app {
  margin-top: 60px;
  width: 190px;
  height: 60px;
  object-fit: contain;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  flex-wrap: wrap;
}
.footer-menu {
  flex-wrap: wrap;
}
.footer-menu-item {
  margin-right: 50px;
}
.footer-menu-link {
  font-size: 16px;
  color: #363636;
  font-weight: 500;
}
.footer-language {
  padding: 10px 25px;
  border-radius: 40px;
  background-color: #f8f8f8;
  outline: 0;
  border: 0;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
.footer-language-option {
  font-size: 16px;
  color: #363636;
}
/* RESPONSIVE */
@media screen and (max-width: 1480px) {
  .say-ttl {
    padding: 0 10px;
  }
  .list-comment {
    margin: 0;
  }
  .function .holder {
    justify-content: center;
  }
  .function-left,
  .function-right {
    width: 50%;
  }
  .function-left {
    padding-right: 10px;
  }
  .function-right {
    margin-top: 10px;
  }
  .mobile {
    position: relative;
    top: 0;
  }
}
@media screen and (max-width: 1100px) {
  .block-example,
  .block-content {
    width: 100%;
    margin-bottom: 100px;
  }
  .block-example {
    display: flex;
    justify-content: center;
  }
  .block-example-img {
    position: relative;
  }
  .block-example-img-2 {
    top: 17%;
    left: 0;
  }
  .block-example-img-4 {
    top: 18%;
    right: 6%;
  }
  .block-ttl {
    margin-top: 100px;
  }
  .block-content-2 {
    text-align: right;
  }
  .people-say {
    margin-top: 100px;
  }
  .item-comment {
    width: 100%;
  }
  .author {
    margin-bottom: 35px;
  }
  .item-comment.item-comment-active .item-content,
  .item-comment.item-comment-active .item-content::after {
    background-color: #c3e5f1;
  }
}
@media screen and (max-width: 800px) {
  .safe-content,
  .safe-example {
    width: 100%;
    justify-content: center;
  }
  .block-example {
    justify-content: flex-end;
  }
  .block-example2 {
    justify-content: flex-start;
  }
  .block-example-img-2,
  .block-example-img-4 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header .menu {
    display: none;
    position: absolute;
    top: 72px;
    right: 12px;
    padding: 10px 0;
    background-color: #af6279;
    z-index: 2;
    flex-wrap: wrap;
  }
  .menu-item {
    width: 100%;
    margin-right: 0;
    padding: 5px 10px;
  }
  .menu-link {
    font-size: 13px;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon i {
    font-size: 24px;
  }
  .safe-ttl {
    width: 100%;
  }
  .safe-example-img,
  .block-example-img,
  .mobile {
    width: 90%;
  }
}
@media screen and (max-width: 670px) {
  .function {
    margin: 0 0 50px 0;
    padding: 60px 0;
  }
  .function-center {
    display: none;
  }
  .function-right {
    margin-top: 0px;
  }
  .function-icon {
    width: 30px;
    height: 30px;
  }
  .subscribe-input {
    padding: 15px 20px;
    min-width: 80vw;
    margin: 0 auto;
  }
  .subscribe-btn {
    position: relative;
    margin: 15px auto 0;
  }
  .footer {
    justify-content: center;
  }
  .footer-menu {
    width: 100%;
    justify-content: center;
  }
  .footer-menu-item {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 550px) {
  .function-left,
  .function-right {
    width: 100%;
    padding: 0 10px;
  }
  .function-right {
    margin-top: 30px;
  }
}

@media screen and (max-width: 390px) {
  .header {
    padding: 25px 10px;
  }
  .safe-content {
    padding: 65px 0;
  }
  .safe-ttl {
    font-size: 42px;
  }
  .safe-download {
    padding: 15px 20px;
    font-size: 12px;
  }
  .safe-desc,
  .safe-bold {
    font-size: 18px;
    margin: 30px 0 50px 0;
  }
  .block-example {
    margin-bottom: 0;
  }
  .block-example-img {
    margin-top: 20px;
  }
  .subscribe-ttl,
  .download-ttl,
  .block-ttl {
    font-size: 30px;
    line-height: 22px;
  }
  .footer-menu {
    justify-content: flex-start;
  }
}
