/* Header */
.header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 38px 0;
  z-index: 2;
}
.header .holder {
  padding: 0 10px;
}
/* Logo */
.header .logo {
  float: left;
  left: 0px;
}
.header .logo img {
}
/* END: Logo */

/* Menu */
.header .menu {
  float: right;
  right: 0px;
}
.header .menu ul .menu-hide {
}
.header .menu ul {
  display: flex;
}
.header .menu ul li {
  margin-left: 28px;
}
.header .menu ul li a {
  font-weight: bold;
  color: #191919;
  font-size: 12px;
  letter-spacing: 2px;
}
.header .menu ul .active a {
  color: #10c9c3;
}
.header .menu-icon {
  display: none;
  float: right;
}
.header .menu-icon i {
  font-weight: bold;
  color: #191919;
  font-size: 38px;
}
.menu-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1;
}
/* END: Menu */
/* Responsive */
@media screen and (max-width: 800px) {
  .header .menu {
    display: none;
    position: absolute;
    top: 72px;
    right: 12px;
    padding: 10px 0;
    background-color: #dfe4e8;
    z-index: 1;
  }
  .header .menu ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  .header .menu ul li {
    padding: 5px 20px;
    margin: 0;
  }
  .header .menu ul li:hover {
    background-color: #a1c3e0;
  }
  .header .menu ul li a {
    font-size: 10px;
    letter-spacing: 4px;
  }
  .header .menu-icon {
    display: block;
  }
}
