.header {
  position: relative;
}

.single-project {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  padding: 0 10px;
}
.single-project .content {
  width: 50%;
}
.single-project .content .ttl {
  font-size: 30px;
  font-weight: bold;
}
.single-project .content .decs {
  font-size: 16px;
  margin: 50px 0px;
  padding-right: 10px;
}
.single-project .content .link {
  font-size: 16px;
}
.single-project .img-project {
  width: 50%;
}
.single-project .img-project img {
  width: 100%;
  height: 570px;
  object-position: center center;
  object-fit: cover;
}

.project-control {
  padding: 35px 0px;
  height: 100px;
  display: flex;
}
.project-control a {
  text-decoration: none;
  color: #111;
}
.project-control i {
  font-size: 30px;
  font-weight: bold;
}
.project-control .prev {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}
.project-control .gird {
  width: calc(100% / 3);
  justify-content: center;
  display: flex;
}
.project-control .next {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .single-project .content,
  .single-project .img-project {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .single-project .img-project img {
    height: 90vw;
  }
}
