
.single-project {
	display: flex;
	height: 570px;
	margin: 30px auto;
}
.single-project .content {
	flex: 1;
}
.single-project .content .ttl {
	font-size: 30px;
	font-weight: bold;
}
.single-project .content .decs {
	font-size: 16px;
	margin: 50px 0px;
}
.single-project .content .link {
	font-size: 16px;
}
.single-project .img-project {
	flex: 1;
}
.single-project .img-project img {
	width: 100%;
	height: 100%;
	object-position: center center;
	object-fit: cover
}

.project-control {
	padding: 35px 0px;
	height: 100px;
}
.project-control a {
	text-decoration: none;
	color: #111;
}
.project-control i {
	font-size: 30px;
	font-weight: bold;
}
.project-control .prev {
	float: left;
	width: calc(100%/3);
}
.project-control .gird {
	float: left;
	width: calc(100%/3);
	text-align: center;
}
.project-control .next {
	float: right;
	width: calc(100%/3);
	text-align: right;
}
