<link rel="stylesheet" href="../../mogo/css/footer.css" />

<div class="footer">
  <div class="holder">
    <div class="footer-top">
      <div class="footer-top-intro">
        <div class="footer-top-intro__ttl">MoGo</div>
        <div class="footer-top-intro__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br />
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          <br />
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          <br />
          aliquip ex ea commodo consequat.
        </div>
        <div class="footer-top-intro-contact">
          <div class="footer-top-intro-contact__ttl">
            <p>15K</p>
            <span>followers</span>
          </div>
          <div class="footer-top-intro-contact-content">
            <div class="footer-top-intro-contact-content-follow">
              Follow Us:
            </div>
            <div class="footer-top-intro-contact-content-follow-icon">
              <ul
                class="clearfix footer-top-intro-contact-content-follow-icon-list"
              >
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-pinterest-p"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fas fa-globe"></i
                  ></a>
                </li>
                <li
                  class="footer-top-intro-contact-content-follow-icon-list-item"
                >
                  <a
                    href="#"
                    class="footer-top-intro-contact-content-follow-icon-list-item-link"
                    ><i class="fab fa-tumblr"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-top-intro-contact__form">
            <form action="#">
              <input type="text" placeholder="Your Email" />
              <button>SUBSCRIBE</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-top-blog">
        <div class="footer-top-blog-ttl">BLOGS</div>
        <div class="footer-top-blog-listItem">
          <div class="footer-top-blog__item">
            <img src="../../mogo/images/4.jpg" alt="" />
            <p>
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing <br /><br />
              <span>Jan 9, 2016</span>
            </p>
          </div>
          <div class="footer-top-blog__item">
            <img src="../../mogo/images/5.jpg" alt="" />
            <p>
              Consectetur adipiscing elit, <br />
              sed do eiusmod tempor <br /><br />
              <span>Jan 9, 2016</span>
            </p>
          </div>
          <div class="footer-top-blog__item">
            <img src="../../mogo/images/6.jpg" alt="" />
            <p>
              sed do eiusmod tempor <br />
              incididunt ut labore <br /><br />
              <span>Jan 9, 2016</span>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-top-instagram">
        <div class="footer-top-instagram-ttl">INSTAGRAM</div>
        <div class="footer-top-instagram-listItem">
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/1.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/2.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/3.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/4.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/5.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/9.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/7.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/8.jpg" alt="" />
          </div>
          <div class="footer-top-instagram-listItem__item">
            <img src="../../mogo/images/6.jpg" alt="" />
          </div>
        </div>
        <div class="footer-top-instagram__view">
          <p>View more photos</p>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom__content">
        <p>&copy; 2016 MoGo free PSD template by <span>laaqiq</span></p>
      </div>
    </div>
  </div>
</div>
