<link rel="stylesheet" href="../../mogo/css/header.css" />

<div class="header">
  <div class="holder">
    <div class="header__logo">
      <a href="#">MoGo</a>
    </div>
    <div class="header-menu">
      <div class="js-ButtonShow header-icon">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="js-ShowMenu clearfix header-menu-list">
        <li class="header-menu-list-item active">
          <a href="#" class="header-menu-list-item__link">About</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link">Service</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link">Work</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link">Blog</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link">Contact</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link"
            ><i class="fas fa-shopping-cart"></i
          ></a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list-item__link"
            ><i class="fas fa-search"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.js-ButtonShow').click(function () {
      $('.js-ShowMenu').fadeToggle();
    });
  });
</script>
